### **``Exercises: NLP Exploration``**
    date: Thursday, September 01st 2022

----

In [1]:
# notebook dependencies 
import os # for caching purposeses
import pandas as pd
import numpy as np

# visualization imports
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# regular expression import
import re

# JSON import
import json

# importing BeautifulSoup for parsing HTML/XTML
from bs4 import BeautifulSoup

# request module for connecting to APIs
from requests import get

# text prepare modules
import acquire_codeup_blogs
import acquire_news_articles
import wrangle

# uni-code library
import unicodedata

# natural language toolkit library/modules
import nltk
from nltk.stem import PorterStemmer, LancasterStemmer, WordNetLemmatizer

from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import env
from env import user, password, host, get_connection

In [2]:
# importing the spam dataset

# create the sql query
query = ''' 
    SELECT *
    FROM spam;
'''
# create the MySQL connection url
url = get_connection(user, password, host, "spam_db")

# create the df 
df = pd.read_sql(query, url)
df.head()

   id label                                               text
0   0   ham  Go until jurong point, crazy.. Available only ...
1   1   ham                      Ok lar... Joking wif u oni...
2   2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   3   ham  U dun say so early hor... U c already then say...
4   4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
# applying the clean function to indivual label (ham/spam) texts

filter_words = ['r', 'u', '2', 'ltgt']

ham_words = wrangle.mass_text_clean(' '.join(df[df.label == 'ham'].text), include_words = filter_words)
len(ham_words) # number of words in ham_lst

37911

In [8]:
# applying the clean function to indivual label (ham/spam) texts

spam_words = wrangle.mass_text_clean(' '.join(df[df.label == 'spam'].text), include_words = filter_words)
len(spam_words) # number of words in spam_lst

12169